<title>{{title}}</title>

<div class="screen" style="background-color: rgb(94, 109, 222)">
  <div class="center horizontal">
    <p class="medium" style="color: white;">Welcome to my MEAN Stack</p>
    <form action="#/app">
      <input class="waves-effect waves-light btn" type="submit" value="Application Page"/>
    </form>
  </div>
</div>
